            body { 
                margin:0;
            }
            
            .header{
                padding: 20px;
            }

            .playerimg{
                display: block;
                margin: 50px auto;
                box-shadow: -2px -2px 2px #F3F2F2, 5px 5px 5px #6F6767;
                border-radius:100px;
            }
            .playername, .playerinfo{
                font-family: 'Lato', sans-serif;
            }
            .playername{
                font-weight: bold;
                font-size: 1rem;
            }
            .playerinfo{
                font-size: 1rem;
                text-transform:uppercase;
            }

            /* schedule*/
            .schedule_box {
                border-radius: 5px;
                box-shadow: 2px 2px 7px 3px rgba(0,0,0,0.2);
                background-color: #ffffff;
                padding: 30px;
            }
            .schedule_nav {
                width: 100%;
                border-bottom: solid 2px #cecece;
                font-family: 'Lato', sans-serif;
                font-size: 15px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.54;
                margin-bottom: 0px;
                color: #656565;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                padding: 0;
            }
            .listdetail {
                display: inline-block;
                width: 100%;
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #656565;
                padding: 20px 0px;
                border-bottom: solid 1px #cecece;
            }
            .listdetail .col-sm-6, .listdetail .col-sm-3, .schedule_nav .col-sm-3 {
                padding: 0; 
                float: left;
            }
            :last-child.schedule-nav, .listdetail :last-child.col-sm-3 {
                float: right;
                width: 100%;
                text-align: center;
            }
            .listdetail span {
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
                color: #656565;
            }
            /*footer*/
            .site-footer {
                background: #565655;
                width: 100%;
                float: left;
            }

            .container {
                max-width: 1100px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 30px;
                padding-right: 30px;
		font-size: 65.5%;
            }
            #footer {
                clear: both;
                background: #565655;
                color: #ffffff;
                clear: both;
                padding: 0px;
            }

            .footer-widgets, #footer .back-to-mobile {
                font-size: 14px;
            }

            [class*='col-'] {
                float: left;
                display: inline-block;
            }

            #footer a {
                color: #ffffff;
            }

            .footer-widgets .widget {
                margin-top: 30px;
                min-height: 145px;
            }

            /* SLIDER */
            .slider-photos{
                margin-bottom: 1rem;
            }
            .slick-slide{
                padding: 0 3px;
            }
            .slick-prev:before, .slick-next:before,
            .slick-dots li button:before,
            .slick-dots li.slick-active button:before{
                color: #fff200;
                font-size: 30px;
            }
            .slick-prev{ left: 15px; z-index: 100; }
            .slick-next{  right: 20px; }

            /**/
            .card-header{
                background-color: #fff200;
            }
            .btn-link, .nav-item a,.teamname {
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: bold;
            }
            .btn-link{
                font-size: 2rem;
            }
            .nav-item a{
                font-size: 1rem;
            }
            .teamname{
                font-size: 3rem;
                text-align: center;
            }
            .islanders-logo{
                width:90px;
                height:90px; 
                position:absolute; 
                top:0;
                left:75%; 
            }
            .bg-dark{
                background-color: #004485!important;
            }
h1, h2, h3, h4, h5, h6{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}


p, div, body, nav, header, footer{
    font-family: 'Lato', sans-serif;
}